* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    width: 55rem;
    height: 25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.row, .main-thumbnail, .thumbnails {
    height: 100%;
}

.row {
    display: flex;
    width: 100%;
}

.main-thumbnail {
    position: relative;
    width: 78%;
    object-fit: fill;
}

.img-description {
    text-align: end;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.2rem;
    color: rgb(227, 221, 221);
}

.small-thumbnails-ctn {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 22%;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-thumbnails-ctn img {
    opacity: 0.5;
}

.active {
    opacity: 1;
    border: 2px solid white;
}

[class|=small-thumbnail] {
    width: 100%;
    height: 20%;
    background-color: black;
}

[class|=small-thumbnail] > .active {
    opacity: 1;
}

.fa-solid {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    filter: invert(1);
    cursor: pointer;
    font-size: large;
    z-index: 9;
}

.fa-solid:hover {
    font-size: x-large;
    transition: 150ms;
}

.fa-circle-chevron-up {
    top: 3%;
}

.fa-circle-chevron-down {
    bottom: 3%;
}

p {
    font-size: 1rem;
    font-weight: 300;
}